@tailwind base;
@tailwind components;
@tailwind utilities;
/* 3D Text Effect */
.text-3d {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2),
    2px 2px 4px rgba(0, 0, 0, 0.2),
    3px 3px 8px rgba(0, 0, 0, 0.3);
  transform: perspective(1000px) rotateX(10deg);
}

/* Background Animation */
.bg-moving-pattern {
  background-image: url('https://www.transparenttextures.com/patterns/black-paper.png');
  /* You can use any pattern here */
  background-size: 400%;
}

@keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}

.animate-backgroundMove {
  animation: backgroundMove 10s linear infinite;
}

/* Fade In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

.animation-delay-300 {
  animation-delay: 0.3s;
}

.animation-delay-600 {
  animation-delay: 0.6s;
}
